# Chi-Square Tests

***

In [1]:
# Data frames.
import pandas as pd

# Shuffles.
import random

# Statistics.
import scipy.stats as ss

## Laerd Statistics Chi-Square Test for Independence

https://statistics.laerd.com/spss-tutorials/chi-square-test-for-association-using-spss-statistics.php

***

In [2]:
# Sixteen Males who preferred Books.
male_books = [['Male', 'Books']] * 16

# Show.
male_books

[['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books']]

In [3]:
# Sixteen Females who preferred Books.
female_books = [['Female', 'Books']] * 13

# Show.
female_books

[['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books']]

In [4]:
# Twenty-four Males who preferred Online.
male_online = [['Male', 'Online']] * 24

# Show.
male_online

[['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online']]

In [5]:
# Twenty-seven Females who preferred Online.
female_online = [['Female', 'Online']] * 27

# Show.
female_online

[['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online']]

In [6]:
# Raw data, merge the four lists.
raw_data = male_books + male_online + female_books + female_online

# Show.
raw_data

[['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online']]

In [7]:
# Shuffle the data.
random.shuffle(raw_data)

# Show.
raw_data

[['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books']]

In [8]:
# Zip the list - make the rows columns and the columns rows.
# Interchanges the outer and inner lists.
gender, medium = list(zip(*raw_data))

# Show.
gender, medium

(('Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Female'),
 ('Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Books',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books'))

In [9]:
# Create a data frame.
df = pd.DataFrame({'gender': gender, 'medium': medium})

# Show.
df

    gender  medium
0     Male   Books
1     Male  Online
2     Male  Online
3   Female  Online
4     Male   Books
..     ...     ...
75    Male   Books
76  Female  Online
77  Female  Online
78  Female  Online
79  Female   Books

[80 rows x 2 columns]

## Contingency Table

***

In [10]:
# Perform Crosstabs Contingency.
cross = ss.contingency.crosstab(df['gender'], df['medium'])

# Show.
cross

CrosstabResult(elements=(array(['Female', 'Male'], dtype=object), array(['Books', 'Online'], dtype=object)), count=array([[13, 27],
       [16, 24]]))

In [11]:
# The first variable values, and the second.
first, second = cross.elements

# Show.
first, second

(array(['Female', 'Male'], dtype=object),
 array(['Books', 'Online'], dtype=object))

In [12]:
# The counts.
cross.count

array([[13, 27],
       [16, 24]])

In [13]:
# Find all rows in df with gender equal to the first value in first.
df[df['gender'] == first[0]]

    gender  medium
3   Female  Online
8   Female   Books
10  Female  Online
15  Female  Online
16  Female   Books
17  Female   Books
18  Female  Online
19  Female  Online
20  Female  Online
23  Female   Books
25  Female   Books
27  Female  Online
29  Female  Online
30  Female  Online
31  Female  Online
34  Female   Books
37  Female  Online
39  Female   Books
40  Female  Online
43  Female  Online
44  Female  Online
46  Female  Online
48  Female   Books
50  Female   Books
52  Female  Online
54  Female  Online
55  Female  Online
59  Female  Online
60  Female   Books
62  Female   Books
66  Female  Online
67  Female   Books
68  Female  Online
71  Female  Online
72  Female  Online
73  Female  Online
76  Female  Online
77  Female  Online
78  Female  Online
79  Female   Books

In [14]:
# Find all rows in df with gender equal to the first value in first and medium equal to first value in second.
df[(df['gender'] == first[0]) & (df['medium'] == second[0])]

    gender medium
8   Female  Books
16  Female  Books
17  Female  Books
23  Female  Books
25  Female  Books
34  Female  Books
39  Female  Books
48  Female  Books
50  Female  Books
60  Female  Books
62  Female  Books
67  Female  Books
79  Female  Books

## Statistical Test

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

***

In [15]:
# The contigency table.
cross.count

array([[13, 27],
       [16, 24]])

In [16]:
# Do the statistics. Just do them.
result = ss.chi2_contingency(cross.count, correction=False)

# Show.
result

Chi2ContingencyResult(statistic=0.486815415821501, pvalue=0.4853513240525321, dof=1, expected_freq=array([[14.5, 25.5],
       [14.5, 25.5]]))

In [17]:
# The expected fequencies if independent.
result.expected_freq

array([[14.5, 25.5],
       [14.5, 25.5]])

In [18]:
# Preferred books irrespective of gender.
29 / 80

0.3625

In [19]:
# If no relationship between gender and medium,
# then we should have same proportion of males
# liking books as we have overall.
40 * (29 / 80)

14.5

In [20]:
# If no relationship between gender and medium,
# then we should have same proportion of people liking
# online who are female as we have overall.
51 * (40 / 80)

25.5

## Bonus: Calculating the Statistic

https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test#Calculating_the_test-statistic

***

In [21]:
# Observed.
cross.count

array([[13, 27],
       [16, 24]])

In [22]:
# Expected.
result.expected_freq

array([[14.5, 25.5],
       [14.5, 25.5]])

In [23]:
# Difference.
cross.count - result.expected_freq

array([[-1.5,  1.5],
       [ 1.5, -1.5]])

In [24]:
# Difference squared.
(cross.count - result.expected_freq)**2

array([[2.25, 2.25],
       [2.25, 2.25]])

In [25]:
# Difference squared divided by expected.
(cross.count - result.expected_freq)**2 / result.expected_freq

array([[0.15517241, 0.08823529],
       [0.15517241, 0.08823529]])

In [26]:
# Sum of (difference squared divided by expected).
((cross.count - result.expected_freq)**2 / result.expected_freq).sum()

0.486815415821501

***

## End